# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Virtual environment
venv/
ENV/

# IDE files
.vscode/
*.sublime-project
*.sublime-workspace
*.idea/

# Logs and temporary files
*.log
*.swp
*.swo
*.tmp

# Database
*.db
*.sqlite
*.sqlite3
